@using Umbraco.Cms.Core.Models;
@using Umbraco.Cms.Core.Models.Blocks;
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.About>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "Master.cshtml";
    var root = Model.Root();
    var pageHeaderImage = Model.Value<MediaWithCrops>("pageImage");
    var pageMobileImage = Model.Value<MediaWithCrops>("pageMobileImage");
    var experienceImage1 = Model.Value<MediaWithCrops>("aboutExperienceImage1");
    var experienceImage2 = Model.Value<MediaWithCrops>("aboutExperienceImage2");
    var homeServices = root.Value<IEnumerable<BlockListItem>>("homeServicesArea");
}


<!-- Header Banner -->
<div class="banner-header banner-desktop-header section-padding valign bg-img bg-fixed" data-overlay-dark="4"
    data-background="@pageHeaderImage.MediaUrl()">
    <div class="container">
        <div class="row">
            <div class="col-md-12 caption mt-90">
                <h5>@Model.Value("pageAltName")</h5>
                <h1>@Model.Value("pageName")</h1>
            </div>
        </div>
    </div>
</div>
<div class="banner-header banner-mobile-header section-padding valign bg-img bg-fixed" data-overlay-dark="4"
    data-background="@pageMobileImage.MediaUrl()">
    <div class="container">
        <div class="row">
            <div class="col-md-12 caption mt-90">
                <h5>@Model.Value("pageAltName")</h5>
                <h1>@Model.Value("pageName")</h1>
            </div>
        </div>
    </div>
</div>

<!-- About -->
<section class="about section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-30 animate-box" data-animate-effect="fadeInUp">

                <div class="section-subtitle">@Model.Value("aboutExperienceSubtitle")</div>
                <div class="section-title">@Model.Value("aboutExperienceTitle")</div>
                <p class="text-sm-justify-custom"> @Model.Value("aboutExperienceContent")</p>
                <!-- call -->
                <div class="reservations">
                    <div class="icon"><span class="flaticon-call"></span></div>
                    <div class="text">
                        <p>Reservation</p> <a
                            href="tel:@Model.Value("aboutExperiencePhoneNumber")">@Model.Value("aboutExperiencePhoneNumber")</a>
                    </div>
                </div>
            </div>

            <div class="col col-md-3 animate-box" data-animate-effect="fadeInUp">
                <img src="@experienceImage1.MediaUrl()" alt="Hanover Experience" class="mt-90 mb-30">
            </div>
            <div class="col col-md-3 animate-box" data-animate-effect="fadeInUp">
                <img src="@experienceImage2.MediaUrl()" alt="Hanover Experience">
            </div>
        </div>
    </div>
</section>

<!-- Facilties -->
<section class="facilties section-padding2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-subtitle">@Model.Value("aboutServicesSubtitle")</div>
                <div class="section-title">@Model.Value("aboutServicesTitle")</div>
            </div>
        </div>
        <div class="row">
            @foreach (var service in homeServices)
            {
                <div class="col-md-4">
                    <div class="single-facility animate-box" data-animate-effect="fadeInUp">
                        <span class="@service.Content.Value("homeServiceIcon")"></span>
                        <h5>@service.Content.Value("homeServiceHeader")</h5>
                        <p>@service.Content.Value("homeServiceContent")</p>
                        <div class="facility-shape"> <span class="@service.Content.Value("homeServiceIcon")"></span> </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>