@using Umbraco.Cms.Core.Models;
@using Umbraco.Cms.Web.Common.PublishedModels;
@using Microsoft.Extensions.Configuration
@inject IConfiguration _configuration
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = "Master.cshtml";
    var pageHeaderImage = Model.Value<MediaWithCrops>("pageImage");
    var pageMobileImage = Model.Value<MediaWithCrops>("pageMobileImage");
    var formSuccess = Context.Request.Query["status"] == "success";
}

<!-- Header Banner -->
<div class="banner-header banner-desktop-header section-padding valign bg-img bg-fixed" data-overlay-dark="4"
     data-background="@pageHeaderImage.MediaUrl()">
    <div class="container">
        <div class="row">
            <div class="col-md-12 caption header-top-text">
                <h5>@Model.Value("pageAltName")</h5>
                <h1>@Model.Value("pageName")</h1>
            </div>
        </div>
    </div>
</div>
<div class="banner-header banner-mobile-header section-padding valign bg-img bg-fixed" data-overlay-dark="4"
     data-background="@pageMobileImage.MediaUrl()">
    <div class="container">
        <div class="row">
            <div class="col-md-12 caption header-top-text">
                <h5>@Model.Value("pageAltName")</h5>
                <h1>@Model.Value("pageName")</h1>
            </div>
        </div>
    </div>
</div>
<!-- Contact -->
<section class="contact section-padding">
    <div class="container">
        <div class="row mb-90">
            <div class="col-md-6 mb-60">
                <h3>@Model.Value("contactTitle")</h3>
                <p class="text-sm-justify-custom">@Model.Value("contactContent")</p>
                <div class="reservations mb-30">
                    <div class="icon"><span class="flaticon-call"></span></div>
                    <div class="text">
                        <p>@Model.Value("contactPhoneNumberTitle")</p> <a href="tel:@Model.Value("contactPhoneNumber")">@Model.Value("contactPhoneNumber")</a>
                    </div>
                </div>
                <div class="reservations mb-30">
                    <div class="icon"><span class="flaticon-envelope"></span></div>
                    <div class="text">
                        <p>@Model.Value("contactEmailTitle")</p> <a href="mailto:@Model.Value("contactEmail")">@Model.Value("contactEmail")</a>
                    </div>
                </div>
                <div class="reservations">
                    <div class="icon"><span class="flaticon-location-pin"></span></div>
                    <div class="text">
                        <p>@Model.Value("contactAddressTitle")</p> @Model.Value("contactAddress")
                    </div>
                </div>
            </div>
            <div class="col-md-5 mb-30 offset-md-1">
                <h3>Get in touch</h3>
                @using (Html.BeginUmbracoForm("Submit", "Contact", FormMethod.Post, new Dictionary<string, object> { {
                "class", "contact__form" } }))
                {
                    <div class="row">
                        <div class="col-12">
                            @if (TempData["ContactSuccess"] != null && (bool)TempData["ContactSuccess"])
                            {
                                <div class="alert alert-success contact__msg" role="alert">
                                    Your message was sent successfully.
                                </div>
                            }
                        </div>
                    </div>
                    <!-- form elements -->
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input name="name" type="text" placeholder="Your Name *" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <input name="email" type="email" placeholder="Your Email *" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <input name="phone" type="text" placeholder="Your Number *">
                        </div>
                        <div class="col-md-12 form-group">
                            <textarea name="message" id="message" cols="30" rows="4" placeholder="Message *"
                                      required></textarea>
                        </div>
                        <div class="col-md-12">
                            <div class="g-recaptcha" data-sitekey="@_configuration["ReCaptcha:SiteKey"]"></div>
                        </div>
                        <div class="col-md-12 mt-2">
                            <button type="submit" class="butn-dark2"><span>Send Message</span></button>
                        </div>
                    </div>
                }

            </div>
        </div>
        <!-- Map Section -->
        <div class="row">
            <div class="col-md-12 map animate-box" data-animate-effect="fadeInUp" style="filter: grayscale(0); ">
                <iframe src="@Model.Value("contactEmbedLink")" width="100%" height="600" style="border:0;"
                        allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
</section>
