@using Umbraco.Cms.Core.Models.Blocks;
@using Umbraco.Cms.Core.Models;
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = "Master.cshtml";
    var root = Model.Root();
    var homeSlider = Model.Value<IEnumerable<BlockListItem>>("homeSliderItems");
    var experienceImage1 = Model.Value<MediaWithCrops>("homeExperienceImage1");
    var experienceImage2 = Model.Value<MediaWithCrops>("homeExperienceImage2");
    var rooms = Umbraco.Content(Guid.Parse("bdd98559-1763-4a3a-81d3-22d09bbb9da8"))
    .Children()
    .Where(x => x.IsVisible())
    .OrderByDescending(x => x.CreateDate);
    var services = Model.Value<IEnumerable<BlockListItem>>("homeServicesArea");
}


<!-- Slider -->
<header class="header slider-fade">
    <div class="owl-carousel owl-theme">
        <!-- The opacity on the image is made with "data-overlay-dark="number". You can change it using the numbers 0-9. -->
        @foreach (var item in homeSlider)
        {
            var homeSliderImage = item.Content.Value<MediaWithCrops>("homeSliderImage");
            var homeSliderMobileImage = item.Content.Value<MediaWithCrops>("homeSliderMobileImage");
            var homeSliderLink = item.Content.Value<Link>("homeSliderLink");
            <div class="text-center item bg-img" data-overlay-dark="2" data-background="@homeSliderImage.MediaUrl()" data-background-mobile="@((homeSliderMobileImage != null) ? homeSliderMobileImage.MediaUrl() : homeSliderImage.MediaUrl())">
                <div class="v-middle caption">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 offset-md-1">

                                <h4>@item.Content.Value("homeSliderSubtitle")</h4>
                                <h1>@item.Content.Value("homeSliderTitle")</h1>
                                @if (homeSliderLink != null)
                                {
                                    <div class="butn-light mt-30 mb-30">
                                        <a href="@homeSliderLink.Url"
                                           target="@homeSliderLink.Target" data-scroll-nav="1"><span>Book Now</span></a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
    <!-- slider reservation -->
    @if (!string.IsNullOrEmpty(Model.Value("sliderAreaPhoneNumber").ToString()))
    {

        <div class="reservation">
            <a href="tel:@Model.Value("sliderAreaPhoneNumber")">
                <div class="icon d-flex justify-content-center align-items-center">
                    <i class="flaticon-call"></i>
                </div>
                <div class="call"><span>@Model.Value("sliderAreaPhoneNumber")</span> <br>Reservation</div>
            </a>
        </div>
    }
</header>

<!-- About -->
<section class="about section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-30 animate-box" data-animate-effect="fadeInUp">

                <div class="section-subtitle">@Model.Value("homeExperienceSubtitle")</div>
                <div class="section-title">@Model.Value("homeExperienceTitle")</div>
                <p class="text-sm-justify-custom"> @Model.Value("homeExperienceContent")</p>
                <!-- call -->
                <div class="reservations">
                    <div class="icon"><span class="flaticon-call"></span></div>
                    <div class="text">
                        <p>Reservation</p> <a href="tel:@Model.Value("homeExperiencePhoneNumber")">@Model.Value("homeExperiencePhoneNumber")</a>
                    </div>
                </div>
            </div>

            <div class="col col-md-3 animate-box" data-animate-effect="fadeInUp">
                <img src="@experienceImage1.MediaUrl()" alt="Hanover Experience" class="mt-90 mb-30">
            </div>
            <div class="col col-md-3 animate-box" data-animate-effect="fadeInUp">
                <img src="@experienceImage2.MediaUrl()" alt="Hanover Experience">
            </div>
        </div>
    </div>
</section>
<!-- Rooms -->

<div class="rooms3">
    <div class="container">
        <div class="row">
            @foreach (var item in rooms)
            {
                var roomProperties = item.Value<IEnumerable<BlockListItem>>("roomPropertyContent");
                var roomImage = item.Value<MediaWithCrops>("roomHomePageImage");

                <div class="col-md-4">
                    <div class="square-flip">
                        <div class="square bg-img" data-background="@roomImage.MediaUrl()">
                            <span class="category"><a href="@item.Url()">Book</a></span>
                            <div class="square-container d-flex align-items-end justify-content-end">
                                <div class="box-title">
                                    @*<h6>@item.Value("roomPrice") / Night</h6>*@
                                    <h4>@item.Value("roomDetailTitle")</h4>
                                </div>
                            </div>
                            <div class="flip-overlay"></div>
                        </div>
                        <div class="square2">
                            <div class="square-container2">
                                @*<h6>@item.Value("roomPrice") / Night</h6>*@
                                <h4>@item.Value("roomDetailTitle")</h4>
                                <p>@item.Value("roomShortDescription")</p>
                                <div class="room-facilities room-facilities-1 mb-30">
                                    @foreach (var property in roomProperties.Take(4))
                                    {
                                        <div class="room-properties">
                                            <i class="@property.Content.Value("roomPropertyIcon")"></i>
                                            <p>@property.Content.Value("roomPropertyName")</p>
                                        </div>

                                    }

                                </div>
                                <div class="btn-line"><a href="@item.Url()">Details</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>

</div>

@if (services.Count() != 0)
{
    <!-- Facilties -->
    <section class="facilties section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-subtitle">@Model.Value("homeServicesSubtitle")</div>
                    <div class="section-title">@Model.Value("homeServicesTitle")</div>
                </div>
            </div>
            <div class="row">
                @foreach (var service in services)
                {
                    <div class="col-md-4">
                        <div class="single-facility animate-box" data-animate-effect="fadeInUp">
                            <span class="@service.Content.Value("homeServiceIcon")"></span>
                            <h5>@service.Content.Value("homeServiceHeader")</h5>
                            <p>@service.Content.Value("homeServiceContent")</p>
                            <div class="facility-shape"> <span class="@service.Content.Value("homeServiceIcon")"></span> </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
}
