@using Umbraco.Cms.Core.Models.Blocks;
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models
@{
    Layout = null;
    var root = Model.Root();
    var socialLinks = root.Value<IEnumerable<BlockListItem>>("footerSocial");
    var logo = root.Value<MediaWithCrops>("webSiteLogo");
    var favicon = root.Value<MediaWithCrops>("favicon");
}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WNVNZMZR');</script>
<!-- End Google Tag Manager -->

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-11408356881"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-11408356881');
</script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>@root.Value("browserHeader")</title>
    <meta name="title" content="@Model.Value("metaHeader")">
    @* <meta name="description" content="@Model.Value("metaDescription")"> *@
    <meta name="keywords" content="@Model.Value("metaTags")">
    <link rel="shortcut icon" href="@favicon?.MediaUrl()" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Gilda+Display&display=swap">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/plugin.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <render-script position="HeadBottom"></render-script>
    <meta-fields></meta-fields>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WNVNZMZR"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

    <render-script position="BodyTop"></render-script>
    <!--Whatsapp Button-->
    <a href="https://wa.me/447867152260" class="wp-button" target="_blank">
        <i class="fa fa-whatsapp my-float"></i>
    </a>
    <!-- Preloader -->
    <div class="preloader-bg"></div>
    <div id="preloader">
        <div id="preloader-status">
            <div class="preloader-position loader"> <span></span> </div>
        </div>
    </div>
    <!-- Progress scroll totop -->
    <div class="progress-wrap cursor-pointer">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <!-- Logo -->
            <div class="logo-wrapper">
                <a class="logo" href="@Model.Root().Url()">
                    <img src="@logo?.MediaUrl()" class="logo-img"
                         alt="Hanover Hotel Logo">
                </a>
            </div>
            <!-- Button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
                    aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="ti-menu"></i></span>
            </button>
            <!-- Menu -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link"
                           href="@Model.Root().Url()">@Umbraco.GetDictionaryValue("Home")</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/about">@Umbraco.GetDictionaryValue("About")</a></li>
                    <li class="nav-item"><a class="nav-link" href="/rooms">@Umbraco.GetDictionaryValue("Rooms")</a></li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="/visitor-information">@Umbraco.GetDictionaryValue("VisitorInformation")</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="https://bistro.hanover71suites.com">@Umbraco.GetDictionaryValue("CafeBistro")</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">@Umbraco.GetDictionaryValue("Contact")</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    @RenderBody()
    <!-- Footer -->
    <footer class="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="footer-column footer-about">
                            <h3 class="footer-title">@root.Value("footerAboutHotel")</h3>
                            <p class="footer-about-text">@root.Value("footerAboutHotelContent")</p>

                            @* <div class="footer-language">
                            <i class="lni ti-world"></i>
                            <select>
                            <option value="1">English</option>
                            <option value="2">German</option>
                            </select>
                            </div>*@
                        </div>
                    </div>
                    <div class="col-md-3 offset-md-1">
                        <div class="footer-column footer-explore clearfix">
                            <h3 class="footer-title">Explore</h3>
                            <ul class="footer-explore-list list-unstyled">
                                <li><a href="@Model.Root().Url()">Home</a></li>
                                <li><a href="/about">About</a></li>
                                <li><a href="/rooms">Rooms</a></li>
                                <li><a href="/visitor-information">Visitor Information</a></li>
                                <li><a href="/cafe-bistro">Cafe & Bistro</a></li>
                                <li><a href="/contact">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="footer-column footer-contact">
                            <h3 class="footer-title">@root.Value("footerContactHeader")</h3>
                            <p class="footer-contact-text">@root.Value("footerContactContent")</p>
                            <div class="footer-contact-info">
                                <p class="footer-contact-phone">
                                    <i class="fa fa-whatsapp" style="font-size: 28px;"></i>
                                    <a href="https://wa.me/447867152260" target="_blank">+44 786 715 2260</a>
                                </p>
                                <p class="footer-contact-phone">
                                    <span class="flaticon-call"></span>
                                    <a href="tel:@root.Value("footerPhoneNumber")">@root.Value("footerPhoneNumber")</a>
                                </p>
                                <p class="footer-contact-mail"><a href="mailto:@root.Value("footerMailAddress")">@root.Value("footerMailAddress")</a></p>
                            </div>
                            <div class="footer-about-social-list">
                                @{
                                    if (socialLinks.Any())
                                    {
                                        foreach (var item in socialLinks)
                                        {
                                            var socialLink = item.Content.Value<Link>("socialLink1");
                                                                                            <a href="@socialLink?.Url" target="@socialLink?.Target">
                                                                                                <i class="@item.Content.Value("socialIcon")"></i>
                                                                                            </a>
                                        }
                                    }
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer-bottom-inner">
                            <p class="footer-bottom-copy-right">
                                © Copyright 2023 by <a href="https://bilen.uk/"
                                                       target="_blank">Bilen</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- jQuery -->
    <script src="~/scripts/jquery-3.6.3.min.js"></script>
    <script src="~/scripts/jquery-migrate-3.0.0.min.js"></script>
    <script src="~/scripts/modernizr-2.6.2.min.js"></script>
    <script src="~/scripts/imagesloaded.pkgd.min.js"></script>
    <script src="~/scripts/jquery.isotope.v3.0.2.js"></script>
    <script src="~/scripts/pace.js"></script>
    <script src="~/scripts/popper.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/scrollIt.min.js"></script>
    <script src="~/scripts/jquery.waypoints.min.js"></script>
    <script src="~/scripts/owl.carousel.min.js"></script>
    <script src="~/scripts/jquery.stellar.min.js"></script>
    <script src="~/scripts/jquery.magnific-popup.js"></script>
    <script src="~/scripts/YouTubePopUp.js"></script>
    <script src="~/scripts/select2.js"></script>
    <script src="~/scripts/datepicker.js"></script>
    <script src="~/scripts/smooth-scroll.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?hl=en" async defer></script>
    <script src="~/scripts/custom.js" asp-append-version="true"></script>
    <render-script position="BodyBottom"></render-script>
</body>

</html>