@using Umbraco.Cms.Core.Models.Blocks;
@using Umbraco.Cms.Core.Models;
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.RoomDetail>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "Master.cshtml";
    var sliderImages = Model.Value<IEnumerable<BlockListItem>>("roomDetailSliderItem");
    var roomPropertyContent = Model.Value<IEnumerable<BlockListItem>>("roomPropertyContent");
}

<!-- Room Page Slider -->
<header class="header slider">
    <div class="owl-carousel owl-theme">
        <!-- The opacity on the image is made with "data-overlay-dark="number". You can change it using the numbers 0-9. -->
        @foreach (var item in sliderImages)
        {
            var itemImage = item.Content.Value<MediaWithCrops>("pageSliderImage");
            <div class="text-center item bg-img" data-overlay-dark="3" data-background="@itemImage.MediaUrl()"></div>
        }
    </div>
    <!-- arrow down -->
    <div class="arrow bounce text-center">
        <a href="#" data-scroll-nav="1" class=""> <i class="ti-arrow-down"></i> </a>
    </div>
</header>
<!-- Room Content -->
<section class="rooms-page section-padding" data-scroll-index="1">
    <div class="container">
        <!-- project content -->
        <div class="row">
            <div class="col-md-12">
                <span>
                    <i class="star-rating"></i>
                    <i class="star-rating"></i>
                    <i class="star-rating"></i>
                    <i class="star-rating"></i>
                    <i class="star-rating"></i>
                </span>
                <div class="section-subtitle">@Model.Value("roomDetailSubtitle")</div>
                <div class="section-title">@Model.Value("roomDetailSubtitle")</div>
            </div>
            <div class="col-md-8">
                <p class="mb-30">@Model.Value("roomDescription"))</p>
                @Html.Raw(Model.Value("roomDetailContent"))
            </div>
            <div class="col-md-3 offset-md-1">
                <h6>@Model.Value("roomPropertyTitle"))</h6>
                <ul class="list-unstyled page-list mb-30">
                    @foreach (var item in roomPropertyContent)
                    {

                        <li>
                            <div class="page-list-icon"> <span class="@item.Content.Value("roomPropertyIcon")"></span> </div>
                            <div class="page-list-text">
                                <p>@item.Content.Value("roomPropertyName")</p>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</section>