@using Umbraco.Cms.Core.Models;
@using Umbraco.Cms.Core.Models.Blocks;
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.VisitorInformation>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "Master.cshtml";
    var root = Model.Root();
    var pageHeaderImage = Model.Value<MediaWithCrops>("pageImage");
    var pageMobileImage = Model.Value<MediaWithCrops>("pageMobileImage");
    var visitorServiceItem = Model.Value<IEnumerable<BlockListItem>>("visitorServiceItem");
    int counter = 0;
}

<style>
    .banner-header {
        height: 60vh !important;
    }

    .bg-fixed {
        background-attachment: unset !important;
    }
</style>

<!-- Header Banner -->
<div class="banner-header banner-desktop-header section-padding valign bg-img bg-fixed" data-overlay-dark="4"
    data-background="@pageHeaderImage.MediaUrl()">
    <div class="container">
        <div class="row">
            <div class="col-md-12 caption mt-90">
                <h5>@Model.Value("pageAltName")</h5>
                <h1>@Model.Value("pageName")</h1>
            </div>
        </div>
    </div>
</div>
<div class="banner-header banner-mobile-header section-padding valign bg-img bg-fixed" data-overlay-dark="4"
    data-background="@pageMobileImage.MediaUrl()">
    <div class="container">
        <div class="row">
            <div class="col-md-12 caption mt-90">
                <h5>@Model.Value("pageAltName")</h5>
                <h1>@Model.Value("pageName")</h1>
            </div>
        </div>
    </div>
</div>
<!-- Services -->
<section class="services section-padding">
    <div class="container">
        @foreach (var item in visitorServiceItem)
        {
            var itemImage = item.Content.Value<MediaWithCrops>("visitorImage");
            var itemLink = item.Content.Value<Link>("visitorLink");
            if ((counter % 2) == 0)
            {
                <div class="row">
                    <div class="col-md-6 p-0 animate-box" data-animate-effect="fadeInLeft">
                        <div class="img left">
                            <img src="@itemImage.MediaUrl()" alt="Hanover Visitor Information Service Image">
                        </div>
                    </div>
                    <div class="col-md-6 p-0 bg-cream valign animate-box" data-animate-effect="fadeInRight">
                        <div class="content">
                            <div class="cont text-left">
                                <div class="info">
                                    <h6>@item.Content.Value("visitorSubtitle")</h6>
                                </div>
                                <h4>@item.Content.Value("visitorTitle")</h4>
                                <p>@item.Content.Value("visitorContent")</p>
                                @if(itemLink != null) {
                                    <div class="butn-dark"> <a href="@itemLink.Url" target="@itemLink.Target"><span style="color: #fff;">@itemLink.Name</span></a> </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col-md-6 bg-cream p-0 order2 valign animate-box" data-animate-effect="fadeInLeft">
                        <div class="content">
                            <div class="cont text-left">
                                <div class="info">
                                    <h6>@item.Content.Value("visitorSubtitle")</h6>
                                </div>
                                <h4>@item.Content.Value("visitorTitle")</h4>
                                <p>@item.Content.Value("visitorContent")</p>
                                @if(itemLink != null) {
                                    <div class="butn-dark"> <a href="@itemLink.Url" target="@itemLink.Target"><span style="color: #fff;">@itemLink.Name</span></a> </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 p-0 order1 animate-box" data-animate-effect="fadeInRight">
                        <div class="img">
                            <img src="@itemImage.MediaUrl()" alt="Hanover Visitor Information Service Image">
                        </div>
                    </div>
                </div>
            }
            counter++;
        }
    </div>
</section>